*{
    margin: 0;

}

body {
    background: rgba(218, 89, 89, 0.822) url('finger.png');
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

}

#Container1 {
    background-color: none;
    width: 40rem;
    height: 25rem;
    margin-top: 10rem;
    margin-left: 8rem;
    color: white;
    text-align: left;
    padding: 1.5rem;

} 

h1 {

    padding: 1rem;
    text-align: left;
}

p {

    padding: 1rem;

}
#Container2 {
    width: 40rem;
    height: 25rem;
    margin-top: 3rem;
    margin-right: 8rem;

}

#top {
    color: white;
    background-color: rgb(39, 69, 167);
    margin-bottom: 0.8rem;
    border-radius: 0.2rem;
    height: 2.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;

}

#dados {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    border-radius: 0.2rem;

}

input {
    margin-top: 1rem;
    height: 2.5rem;
    width: 30rem;
    border-radius: 0.2rem;
    border-color: lightgray;

}

button {
    margin-top: 1rem;
    height: 2.5rem;
    width: 30.5rem;
    border-radius: 0.2rem;
    background-color: seagreen;
    text-align: center;
    transition: 0.2s;

}

button:hover {
    filter: brightness(0.7);

} 

.link {
    font-size: 14px;
    padding-top: 0.4rem;
   
}

.login {
    margin-top: 1rem;
    font-size: 14px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(255,192,203);

}